TZ="Asia/Tokyo"
API_MESSAGE_LANG="ja_JP"
BOT_MESSAGE_LANG="ja_JP"
BOT_MESSAGE_THEME="teemo"
API_LOG_LEVEL="INFO"
BOT_LOG_LEVEL="INFO"
DB_QUERY_LOG="0"

DISCORD_TOKEN="DISCORD_TOKEN_HERE"
DISCORD_CLIENT_ID="DISCORD_CLIENT_ID_HERE"
DISCORD_GUILD_ID="DISCORD_GUILD_ID_HERE"

API_URL="http://localhost:8000"
BOT_SERVICE_TOKEN=""
BOT_SERVICE_TOKEN_PREVIOUS=""
DATABASE_URL="file:./data/sqlite.db"

RIOT_API_KEY="RIOT_API_KEY_HERE"
RIOT_DEFAULT_PLATFORM="jp1"
RIOT_DEFAULT_REGION="asia"

MATCH_WATCH_POLL_INTERVAL_MS="60000"
MATCH_WATCH_IN_GAME_NOTIFY_INTERVAL_MS="300000"
MATCH_WATCH_RESULT_FETCH_TIMEOUT_MS="10800000"
MATCH_WATCH_MAX_ENABLED_PER_GUILD="20"

RIOT_RATE_LIMIT_SHORT_WINDOW_LIMIT="20"
RIOT_RATE_LIMIT_SHORT_WINDOW_MS="1000"
RIOT_RATE_LIMIT_LONG_WINDOW_LIMIT="100"
RIOT_RATE_LIMIT_LONG_WINDOW_MS="120000"

RIOT_STATIC_DATA_CACHE_TTL_MS="86400000"

OPGG_ENABLED="0"

RIOT_LIVE_TEST="0"
RIOT_LIVE_TEST_RIOT_ID="GameName#TagLine"
RIOT_LIVE_TEST_PLATFORM="jp1"
RIOT_LIVE_TEST_REGION="asia"
RIOT_LIVE_TEST_MATCH_ID=""

# Riot Sign On
RSO_CLIENT_ID="YOUR_RSO_CLIENT_ID_HERE"
RSO_CLIENT_SECRET="YOUR_RSO_CLIENT_SECRET_HERE"
RSO_REDIRECT_URI="http://localhost:8000"
